<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="MAIL_MAILER" value="log"/>
        <server name="TELEGRAM_BOT_TOKEN" value="1160101879:AAFzuda0o7X6Dp4RBp00K-7dYjjnwMY124A"/>
        <server name="EXCEPTION_NOTIFIER_MAIL" value="nc101ux@gmail.com"/>
        <server name="EXCEPTION_NOTIFIER_TELEGRAM" value="423460627"/>
    </php>
</phpunit>
